/* Import for Josefin font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}


:root{
  /* --check-background:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */
  --bright-blue: #3a7bfd;
  --very-light-gray: #fafafa;
  --very-light-grayish-blue: #e4e5f1;
  --light-grayish-blue: #d2d3db;
  --dark-grayish-blue: #9394a5;
  --input-gray: #9495A5;
  --output-gray: #494C6B;
  --very-dark-grayish-blue: #484b6a;
  --white: #ffffff;
}

/* Hero background */
.hero-background{
  height: 50vh;
  width: 100vw;
  background: url('/images/bg-desktop-light.jpg') no-repeat center center/cover;
  position: relative;
}

/* Header container inside the hero */
.hero-header{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 4.3rem 0 0 0;
}

/* Header logo text on the left side of the hero */
.header-logo-text{
  color: var(--white);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

/* Gray background color below the hero */
.gray-background{
  height: 100vh;
  background-color: var(--very-light-gray);
}

/* To do form */
.to-do-form{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40%;
}

/* Input field on the to do form */
.to-do-input{
  border: none;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  font-size: 1.125rem;
  padding: 1.25rem 0 1.25rem 4rem;
  color: var(--input-gray); 
  margin-bottom: 1.5rem;
  width: 100%;
}

/* Remove black outline on the input field when clicked */
.to-do-input:focus{
  outline: none;
}

/* Individual output rows */
.to-do-output-row{
  z-index: 2;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  font-size: 1.125rem;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Output status button (complete/incomplete) */
.output-status-button{
  border: solid var(--light-grayish-blue) 2px;
  border-radius: 50%;
  margin: 0 1.4rem 0 1rem;
  padding: 0.15rem 0.45rem;
}

/* Checkmark inside the output status button */
.output-status-button i{
  color: var(--white);
  font-size: 0.75rem;
}

/* Background styling for the output status button when the button is selected for completion */
.output-status-button-complete{
  background: linear-gradient(to right bottom, 
  rgba(87, 221, 255, 1), 
  rgba(192, 88, 243, 1)
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}


/* Output text */
.output-text{
  color: var(--output-gray);
}

/* Styling for the delete link (x) for each item - hide the x initially */
.output-delete-button-container{
  visibility: hidden;
  margin-left: 5rem;
  font-size: 1.5rem;
  padding: 1.25rem 0;
}

/* Display the delete ink (x) when hovering on an output row */
.to-do-output-row:hover .output-delete-button-container{
  visibility: visible;
}