/* Import for Josefin font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}


:root{
  /* --check-background:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */
  --bright-blue: #3a7bfd;
  --very-light-gray: #fafafa;
  --very-light-grayish-blue: #e4e5f1;
  --light-grayish-blue: #d2d3db;
  --dark-grayish-blue: #9394a5;
  --very-dark-grayish-blue: #484b6a;
}